<!DOCTYPE html>
<html lang="ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitio con Ajax</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="header">
        <section class="header-content container">
            <article class="logo">
                <img src="../media/anos-90.svg" alt="Icono">
            </article>
            
            <nav class="menu">
                <a href="../assets/home.html" >Home</a>
                <a href="../assets/acerca.html" >Acerca</a>
                <a href="../assets/servicios.html" >Servicios</a>
                <a href="../assets/contacto.html" >Contacto</a>
            </nav>
        </section>
    </header>

    <main class="container">
    </main>

    
    <footer class="footer container">
        <p>
            <small>
                Creado por Dani
            </small>
        </p>
    </footer>

   <script src="../static/script/sitioAjax.js"></script>
</body>
</html>